<% provide(:title, 'Contact') %>
<h1> Contact</h1>
<p>
  Contact the developer about this website through e-mail or leave a comment
</p>
<div class="form-contact">
  <label for="comment">Comment:</label>
  <textarea class="form-control" rows="5" id="comment"></textarea>
</div>