  <div class="center jumbotron">
    <h1>Welcome</h1>
    
    <h2>
      Please log in or <%= link_to "Sign up", signup_path %>
    </h2>
    
    <form class="form-login">
      <label for="usr" class="sr-only">Email address</label>
      <input type="text" class="form-control" id="usr" placeholder="Email address" required autofocus>
      <label for="pwd" class="sr-only">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Password" required>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <%= link_to "Log in",  "#", class: "btn btn-lg btn-primary btn-block" %>
      <!-- <p>Or</p> 
      <p>Press the sign up below!</p>
      <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary btn-block" %> -->
    </form>
  </div>
  